<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Dashboard</title>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<!-- <sidebar class="admin_sidebar">
		<div class="cross-sidebar">
			<i class="fas fa-times"></i>
		</div>
		<div class="logo_container">
			<a href="/admin"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="" class="logo"></a>
		</div>
		<div class="menu_container">
			<ul class="menu">
				<li class="menu-title para">
					Medicine
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-thermometer"></i>
					<p class="para"><a href="/admin-dashboard">Dashboard</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-stethoscope"></i>
					<p class="para"><a href="/admin-dashboard">Appointments</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-user-md"></i>
					<p class="para"><a href="/admin/doctors">Doctors</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-user-nurse"></i>
					<p class="para"><a href="/admin-dashboard">Departments</a></p>
				</li>
				<li class="menu-item">
					<i class="item-icon fas fa-user-injured"></i>
					<p class="para"><a href="/admin-dashboard">Patients</a></p>
				</li>	
				<li class="menu-item">
					<i class="item-icon fas fa-money-check-alt"></i>
					<p class="para"><a href="/admin-dashboard">Payments</a></p>
				</li>	

			</ul>
		</div>
	</sidebar>
	<header class="admin_header">
		<div class="menu-burger">
			<i class="fas fa-bars navbar__burger"></i>
		</div>
		<div class="bell-icon">
			<i class="fas fa-bell"></i>
		</div>
		<div class="display-picture">
			<img src="./../assets/femaleDoc.png" alt="">
			<i class="fas fa-chevron-down"></i>
		</div>
	</header> -->
	<%- include('partials/admin_sidebar.ejs') %>
	<%- include('partials/admin_header.ejs') %>
	<a href="/add_doctors"><button class="add_doctors">
		<i class="fas fa-plus"></i>
	</button></a>
	<section class="admin_doctors add-doctors">
		<!-- <div class="admin_doctors__grid">
			<% for(let i = 0; i < doctors.length; i++){ %>
			<div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-1">
				<div>
					<div class="doctor_list__container__col-2__card__name">
						<h3><%= doctors[i].name %></h3>
					</div>
					<div class="doctor_list__container__col-2__card__other_details">
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fas fa-certificate"></i></span><%= doctors[i].achievements[0] %></li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span><%= doctors[i].achievements[1] %></li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fas fa-clock"></i></span><%= doctors[i].experience %> Years Of Experience</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fas fa-building"></i></span><%= doctors[i].hospital %></li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location"><span><i class="fas fa-map-marker-alt"></i></span><%= doctors[i].location %></li>
					</div>
					<button class="doctor_list__container__col-2__card__book">View Profile</button>
						
				</div>
				<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
					<img src="<%= doctors[i].display_picture %>" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
				</div>
			</div>
			<% } %>
		</div> -->
			<div class="form_container form_container--add-doctors">
				<h1 class="form_container__heading">Add Doctor</h1>
				<form method="POST" action="/signup" class="form_container__form">
					<div class="form_container__form__input_field">
						<input name="name" type="text" placeholder="Enter Name" class="form_container__form__name" required>
					</div>
					<div class="form_container__form__input_field">
						<select name="gender"  required id="gender" type="text" class="form_container__form__gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<div class="form_container__form__input_field">
						<input type="date" name="dob" placeholder="Enter DOB" class="form_container__form__dob" required>
					</div>
					<div class="form_container__form__input_field">
						<input name="phoneNumber" type="text" placeholder="Enter Phone Number" class="form_container__form__phone" required>
					</div>
					<div class="form_container__form__input_field">
						<input name="email" type="email" placeholder="Enter Email" class="form_container__form__email" required>
					</div>
					<div class="form_container__form__input_field">
						<input type="password" name="password" placeholder="Enter Password" class="form_container__form__password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" id="passwordField" required>
						<i class="fas fa-eye fa-eye-slash" id="showPassword"></i>
					</div>
					<div class="form_container__form__input_field">
						<input name="city" type="text" id="city" placeholder="Enter City" class="form_container__form__city">
						<input name="state" type="text" id="state" placeholder="Enter State" class="form_container__form__state">
					</div>
					<div class="form_container__form__input_field">
						<select name="country" id="country" type="text" class="form_container__form__gender">
							<option value="not-selected" selected>Select your Country</option>
							<option value="India">India</option>
							<option value="USA">USA</option>
							<option value="Sri Lanka">Sri Lanka</option>
						</select>
					</div>
					<button type="submit" class="form_container__form__submit">
						<span class="form_container__form__submit__text">Sign Up</span>
						<span class="form_container__form__submit__icon"><i class="fas fa-arrow-right"></i></span>
					</button>
				</form>
				<span class="form_container__signup">Already Registered? <span><a href="/phone-login">Login</a></span></span>
			</div>
		
	</section>
	<script src="./../dashboard.js"></script>
	<script src="./../error.js"></script>
</body>
</html>