<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Doctor</title>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<header>
		<%- include('partials/header.ejs') %>
	</header>
	<section class="page_desc page_desc--doctor">
		<div class="container page_desc__container">
			<h1 class="page_desc__container__heading">
				Cardiac Surgeons in <span>Delhi</span>
			</h1>
		</div>	
	</section>
	<div class="breadcrumb">
		<div class="breadcrumb__container">
			<p class="breadcrumb__text">Home / Doctor List</p>
			<form method="POST" action="/sort-by">
				<select class="breadcrumb__sort" name="sort" onchange="this.form.submit()">
					<option value="not-specified" selected disabled>Sort By</option>
					<option value="name-asc">Name A-Z</option>
					<option value="name-desc">Name Z-A</option>
					<option value="doctor.avg_fees-asc">Fees Low-High</option>
					<option value="doctor.avg_fees-desc">Fees High-Low</option>
					<option value="doctor.experience-desc">Experience</option>
				</select>	
			</form>
		</div>
	</div>

	<div class="doctors_list">
		<div class="grid doctor_list__container">
			<div class="grid doctor_list__container__col-1">
				<div class="grid doctor_list__container__col-1__filter doctor_list__container__col-1__filter-by">
					<div class="doctor_list__container__col-1__filter-by__title">
						<p>Filter By</p>
					</div>
					<div class="doctor_list__container__col-1__filter-by__tags" id="doctor_list__container__col-1__filter-by__tags">
						<% if(filter) { %>
						<% let key = Object.keys(filter) %>
						<% key.forEach(el => { %>
							<% for(let i = 0; i < filter[el].length; i++) { %> 
								<div class="filter_button">
									<p class="text"><%= filter[el][i] %></p>
									<button onclick="form_submit(this)">
										<i class="fas fa-times"></i>
									</button>
								</div>
							<% } %>
						<% }) %>
						<% } %>
					</div>
				</div>
				<form action="/add-filters" id="filter_form" method="POST">
				<div class="grid doctor_list__container__col-1__filter doctor_list__container__col-1__filter-1">
					<p class="doctor_list__container__col-1__filter__title">Location</p>
					<span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
					<span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
					<div class="doctor_list__container__col-1__filter__options">
						<label class="checkbox_container" for="New Delhi"><input type="checkbox" class="_New-Delhi" onclick="this.form.submit()" id="New Delhi" name="location[]" value="New Delhi">New Delhi</label>
	 					<label class="checkbox_container" for="Mumbai"><input type="checkbox" class="_Mumbai" onclick="this.form.submit()" id="Mumbai" name="location[]" value="Mumbai">Mumbai</label>
						<label class="checkbox_container" for="Bangalore"><input type="checkbox" class="_Bangalore" onclick="this.form.submit()" id="Bangalore" name="location[]" value="Bangalore">Bangalore</label>
						<label class="checkbox_container" for="Punjab"><input type="checkbox" class="_Punjab" onclick="this.form.submit()" id="Punjab" name="location[]" value="Punjab">Punjab</label>
						<label class="checkbox_container" for="Ahmedabad"><input type="checkbox" class="_Ahemdabad" onclick="this.form.submit()" id="Ahmedabad" name="location[]" value="Ahmedabad">Ahmedabad</label>
						<label class="checkbox_container" for="Gurgaon"><input type="checkbox" class="_Gurgaon" onclick="this.form.submit()" id="Gurgaon" name="location[]" value="Gurgaon">Gurgaon</label>
					</div>
					<div class="doctor_list__container__col-1__filter__show_more"><span><i class="fa fa-plus"></i></span>Show More</div>
				</div>
				<!-- <div class="grid doctor_list__container__col-1__filter doctor_list__container__col-1__filter-2">
					<p class="doctor_list__container__col-1__filter__title">Treatment</p>
					<span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
					<span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
					<div class="doctor_list__container__col-1__filter__options">
						<label class="checkbox_container" for="Multi Organ Transplant"><input type="checkbox" value="Multi Organ Transplant" id="Multi Organ Transplant" name="treatment[]" onclick="this.form.submit()">Multi Organ Transplant</label>
						<label class="checkbox_container" for="Orthopedic Surgery"><input type="checkbox" value="Orthopedic Surgery" id="Orthopedic Surgery" name="treatment[]" onclick="this.form.submit()">Orthopedic Surgery</label>
						<label class="checkbox_container" for="Infertility Treatment"><input type="checkbox" value="Infertility Treatment" id="Infertility Treatment" name="treatment[]" onclick="this.form.submit()">Infertility Treatment</label>
						<label class="checkbox_container" for="Dentistry"><input type="checkbox" id="Dentistry" value="Dentistry" name="treatment[]" onclick="this.form.submit()">Dentistry</label>
						<label class="checkbox_container" for="Cardiology"><input type="checkbox" id="Cardiology" value="Cardiology" name="treatment" onclick="add(this)">Cardiology</label>
						<label class="checkbox_container" for="Cancer"><input type="checkbox" value="Cancer" id="Cancer" name="treatment" onclick="add(this)">Cancer</label>
					</div>
					<div class="doctor_list__container__col-1__filter__show_more"><span><i class="fa fa-plus"></i></span> Show More</div>
				</div> -->
				<div class="grid doctor_list__container__col-1__filter doctor_list__container__col-1__filter-3">
					<p class="doctor_list__container__col-1__filter__title">Hospitals</p>
					<span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
					<span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
					<div class="doctor_list__container__col-1__filter__options">
						<label class="checkbox_container" for="Apollo Hospital"><input id="Apollo Hospital" class="_Apollo-Hospital" value="Apollo Hospital" type="checkbox" name="hospital[]" onclick="this.form.submit()">Apollo Hospital</label>
						<label class="checkbox_container" for="Rockland Hospital"><input id="Rockland Hospital" class="_Rockland-Hospital" value="Rockland Hospital" type="checkbox" name="hospital[]" onclick="this.form.submit()">Rockland Hospital</label>
						<label class="checkbox_container" for="Kokilaben Hospital"><input id="Kokilaben Hospital" class="_Kokilaben-Hospital" value="Kokilaben Hospital" type="checkbox" name="hospital[]" onclick="this.form.submit()">Kokilaben Hospital</label>
						<label class="checkbox_container" for="AIIMS"><input id="AIIMS" class="_AIIMS" value="AIIMS" type="checkbox" name="hospital[]" onclick="this.form.submit()">AIIMS</label>
						<label class="checkbox_container" for="Fortis Hospital"><input id="Fortis Hospital" class="_Fortis-Hospital" value="Fortis Hospital" type="checkbox" name="hospital[]" onclick="this.form.submit()">Fortis Hospital</label>
						<label class="checkbox_container" for="Primus Super Speeciality Hospital"><input id="Primus Super Speeciality Hospital" class="_Primus-Super-Speciality-Hospital" value="Primus Super Speciality Hospital" type="checkbox" name="hospital[]" onclick="this.form.submit()">Primus Super Speciality Hospital</label>
					</div>
					<div class="doctor_list__container__col-1__filter__show_more"><span><i class="fa fa-plus"></i></span> Show More</div>
				</div>
				<div class="grid doctor_list__container__col-1__filter doctor_list__container__col-1__filter-4">
					<p class="doctor_list__container__col-1__filter__title">Years Of Experience</p>
					<span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
					<span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
					<div class="doctor_list__container__col-1__filter__options">
						<label class="checkbox_container" for="30+"><input id="30+" value="30" class="_30" type="checkbox" name="experience[]" onclick="this.form.submit()">30+</label>
						<label class="checkbox_container" for="25+"><input id="25+" value="25" class="_25" type="checkbox" name="experience[]" onclick="this.form.submit()">25+</label>
						<label class="checkbox_container" for="20+"><input id="20+" value="20" class="_20" type="checkbox" name="experience[]" onclick="this.form.submit()">20+</label>
						<label class="checkbox_container" for="15+"><input id="15+" value="15" class="_15" type="checkbox" name="experience[]" onclick="this.form.submit()">15+</label>
						<label class="checkbox_container" for="10+"><input id="10+" value="10" class="_10" type="checkbox" name="experience[]" onclick="this.form.submit()">10+</label>
						<label class="checkbox_container" for="5+"><input id="5+" value="5" class="_5" type="checkbox" name="experience[]" onclick="this.form.submit()">5+</label>
					</div>
					<div class="doctor_list__container__col-1__filter__show_more"><span><i class="fa fa-plus"></i></span> Show More</div>
				</div>
			</div>
			</form>
			<div class="grid doctor_list__container__col-2">
				<% for(let i = 0; i < doctors.length; i++){ %>
				
				<div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-1">
					<div>
						<div class="doctor_list__container__col-2__card__name">
							<a href="http://localhost:8000/doctor/<%= doctors[i].id %>"><h3><%= doctors[i].name %></h3></a>
						</div>
						<div class="doctor_list__container__col-2__card__other_details">
							<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fas fa-certificate"></i></span><%= doctors[i].doctor.achievements[0] %></li>
							<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span><%= doctors[i].doctor.achievements[1] %></li>
							<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fas fa-clock"></i></span><%= doctors[i].doctor.experience %> Years Of Experience</li>
							<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fas fa-building"></i></span><%= doctors[i].doctor.hospital %></li>
							<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location"><span><i class="fas fa-map-marker-alt"></i></span><%= doctors[i].city %></li>
						</div>
						<button class="doctor_list__container__col-2__card__book">Book an appointment</button>
					</div>
					
					<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
						<img src="<%= doctors[i].display_picture %>" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
					</div>
					<div class="doctor_list__container__col-2__card__time_slot">
						<h4 class="heading-4">Select a Time Slot</h4>
							
						<div class="time-slots-header carousel">
							<div class="time-slots-header-controls time-slots-header-left right">
								<i class="fas fa-chevron-left"></i>
							</div>
							<div class="carousel-dates slides">
								<div class="date-heading date-heading--active current slide">
									<% var k = currentDay; %>
									<% const days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']; %>
									<% function slotsAvailable(day) {
										let slotCount = 0;
										for(let j = 0; j < doctors[i].slots.length; j++){
											if(doctors[i].slots[j].isDisabled) {
											} else {
 												if(doctors[i].slots[j].days.indexOf(day) !== -1){
													for(let c = 0; c < doctors[i].slots[j].subSlots.length; c++){
														slotCount++;
													}
												}
											}
										}
										return slotCount;
									} %>
									<div class="day-date">
										<span>Today</span>
									</div>
									<div class="day-slots-available">
										<%= slotsAvailable(days[k]) === 0 ? 'No' : slotsAvailable(days[k]) %> Slots Available
									</div>
								</div>
								<div class="date-heading slide">
									<div class="day-date">
										<span>Tommorow</span>
									</div>
									<div class="day-slots-available">
										<%= slotsAvailable(days[k+1]) === 0 ? 'No' : slotsAvailable(days[k+1]) %> Slots Available
									</div>
								</div>
								<% let dateForCarousel = dateFromServer;
								let carouselDate = new Date(dateForCarousel);
								carouselDate.setDate(carouselDate.getDate() + 1);
								k = k + 2; 
								for(let j = 1; j < 6 ; j++) { %>
								<% k = k == 7 ? k % 7 : k; %>
									<div class="date-heading slide">
										<div class="day-date">
											<% carouselDate.setDate(carouselDate.getDate() + 1) %>
											<span><%= new Date(carouselDate).toDateString() %></span>
										</div>
										<div class="day-slots-available">
											<%= slotsAvailable(days[k]) === 0 ? 'No' : slotsAvailable(days[k]) %> Slots Available
										</div>
									</div>
									<% k++ %>
								<% } %>
							</div>
							<div class="time-slots-header-controls time-slots-header-right left">
								<i class="fas fa-chevron-right"></i>
							</div>
						</div>
						<div class="time-slots-container time-slots-carousel">
							<% let current = currentDay;
							
							var subslots = [];	
							var dateForSlots = new Date(dateFromServer);
							var dateForTime = new Date(dateFromServer);
							
							

							var rightNow = new Date(dateFromServer);
							rightNow.setHours(dateFromServer.getHours() + 5);
							rightNow.setMinutes(dateFromServer.getMinutes() + 30);
							dateForSlots.setHours(dateFromServer.getHours() + 5);
							dateForSlots.setMinutes(dateFromServer.getMinutes() + 30);
							console.log('dateForSlots',dateForSlots)

							%>
							<% for(let j = 0; j < 7; j++) { %>

								<div class="time-slots time-slot-slide">
									<% 
										subslots = [];
										var noSlots = 0;
										if(current >= 7) current = current % 7; %>
										<% for(let q = 0; q < doctors[i].slots.length; q++) {
										%> 
											<% if(doctors[i].slots[q].isDisabled) { %>
											<% } else { %>
												<% if(doctors[i].slots[q].days.indexOf(days[current]) !== -1) {
												noSlots = 1;
													%>
													
													<% if(doctors[i].slots[q].subSlots.length) { %>
														<% for(let m = 0; m < doctors[i].slots[q].subSlots.length; m++) {%>
															<% if(doctors[i].slots[q].subSlots[m].isBooked) { %>
															<% } else { %>
															<% 
															
															var hours;

															if(doctors[i].slots[q].subSlots[m].startTime.split(':')[1].split(' ')[1] == 'pm'){
																if(doctors[i].slots[q].subSlots[m].startTime.split(':')[0] == '12'){
																	hours = parseInt(doctors[i].slots[q].subSlots[m].startTime.split(':')[0]);
																} else {
																	hours = parseInt(doctors[i].slots[q].subSlots[m].startTime.split(':')[0]) + 12;
																}
															} else {
																hours = parseInt(doctors[i].slots[q].subSlots[m].startTime.split(':')[0]);
															} 
															
															var minutes = parseInt(doctors[i].slots[q].subSlots[m].startTime.split(':')[1].split(' ')[0]);
																
																
															dateForSlots.setHours(hours);
															dateForSlots.setMinutes(minutes);

															dateForSlots.setHours(dateForSlots.getHours() + 5);
															dateForSlots.setMinutes(dateForSlots.getMinutes() + 30);

															if(!(rightNow < dateForSlots)) {

															} else {
															 %>
																<% if(q == 0) { %>
																<div class="slot" onclick="goToAppointment(this)" data-subslotid='<%= doctors[i].slots[q].subSlots[m].id %>' data-doctorid='<%= doctors[i].id %>' data-date='<%= dateForSlots.toDateString() %>'>
																	<%= doctors[i].slots[q].subSlots[m].startTime  %>
																</div>
																<% } %>
																<% if(q == 1) { %>
																	<div class="slot slot-red" onclick="goToAppointment(this)" data-subslotid='<%= doctors[i].slots[q].subSlots[m].id %>' data-doctorid='<%= doctors[i].id %>' data-date='<%= dateForSlots.toDateString() %>' >
																		<%= doctors[i].slots[q].subSlots[m].startTime  %>		
																	</div>
																<% } %>	
																<% if(q == 2) { %>
																	<div class="slot slot-purple" onclick="goToAppointment(this)" data-subslotid='<%= doctors[i].slots[q].subSlots[m].id %>' data-doctorid='<%= doctors[i].id %>' data-date='<%= dateForSlots.toDateString() %>'>
																		<%= doctors[i].slots[q].subSlots[m].startTime  %>
																	</div>
																<% } %>	
																<% if(q == 3) { %>
																	<div class="slot slot-green" onclick="goToAppointment(this)" data-subslotid='<%= doctors[i].slots[q].subSlots[m].id %>' data-doctorid='<%= doctors[i].id %>' data-date='<%= dateForSlots.toDateString() %>'>
																		<%= doctors[i].slots[q].subSlots[m].startTime  %>
																	</div>
																<% } %>
																<% } %>
															<% } %>	
														<% } %>
													<% } %>
												<% } %>
												
											<% } %>
										<% } 
										current++; %>
										<% if(!noSlots) { %>
											<h4 class="heading-4">No Slot Available</h4>
										<% } %>
								</div>
								<% dateForSlots.setDate(dateForSlots.getDate() + 1) %>
								<% dateForTime.setDate(dateForTime.getDate() + 1) %>
							<% } %>

						</div>
						<div class="legend">
						<% for(let n = 0; n < doctors[i].slots.length; n++) { %>
							<% if(doctors[i].slots[n].isDisabled) { %>
								<% } else { %>
									<% if(n == 0) { %>
										<div class="legend-item legend-item-blue">
											<%= doctors[i].slots[n].hospital %>
										</div>
									<% } %>
									<% if(n == 1) { %>
										<div class="legend-item legend-item-red">
											<%= doctors[i].slots[n].hospital %>
										</div>
									<% } %>
									<% if(n == 2) { %>
										<div class="legend-item legend-item-purple">
											<%= doctors[i].slots[n].hospital %>
										</div>
									<% } %>
									<% if(n == 3) { %>
										<div class="legend-item legend-item-green">
											<%= doctors[i].slots[n].hospital %>
										</div>
									<% } %>
							<% } %>
						<% } %>
						</div>
					</div>
				</div>
				<% } %>
				<!-- <div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-1">
					<div class="doctor_list__container__col-2__card__name">
						<h3>Deep Chandra Verma</h3>
					</div>
					<div class="doctor_list__container__col-2__card__other_details">
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fas fa-certificate"></i></span>10th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span>12th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fas fa-clock"></i></span>9 Years Of Experience</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fas fa-building"></i></span>Rockland Hospital</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location"><span><i class="fas fa-map-marker-alt"></i></span>Delhi</li>
					</div>
					<button class="doctor_list__container__col-2__card__book">Book an appointment</button>
					<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
						<img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
					</div>
				</div>
				<div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-2">
					<div class="doctor_list__container__col-2__card__name">
						<h3>Dilip Chandra Dalgade</h3>
					</div>
					<div class="doctor_list__container__col-2__card__other_details">
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fa fa-certificate"></i></span>10th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span>12th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fa fa-clock"></i></span>13 Years Of Experience</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fa fa-building"></i></span>Kokilaben Hospital</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location"><span><i class="fa fa-map-marker-alt"></i></span>Mumbai</li>
					</div>
					<button class="doctor_list__container__col-2__card__book">Book an appointment</button>
					<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
						<img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
					</div>
				</div>
				<div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-3">
					<div class="doctor_list__container__col-2__card__name">
						<h3>Pooja Bindra Verma</h3>
					</div>
					<div class="doctor_list__container__col-2__card__other_details">
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fa fa-certificate"></i></span>10th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span>12th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fa fa-clock"></i></span>23 Years Of Experience</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fa fa-building"></i></span>Primus Super Speciality Hospital</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location"><span><i class="fa fa-map-marker-alt"></i></span>Delhi</li>
					</div>
					<button class="doctor_list__container__col-2__card__book">Book an appointment</button>
					<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
						<img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
					</div>
				</div>
				<div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-4">
					<div class="doctor_list__container__col-2__card__name">
						<h3>Meena Vijay Sharma</h3>
					</div>
					<div class="doctor_list__container__col-2__card__other_details">
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fa fa-certificate"></i></span>10th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span>12th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fa fa-clock"></i></span>6 Years Of Experience</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fa fa-building"></i></span>Kokilaben Hospital</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__locatioli"><span><i class="fa fa-map-marker-alt"></i></span>Mumbai</li>
					</div>
					<button class="doctor_list__container__col-2__card__book">Book an appointment</button>
					<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
						<img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
					</div>
				</div>
				<div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-5">
					<div class="doctor_list__container__col-2__card__name">
						<h3>Abhishek Nitin Joshi</h3>
					</div>
					<div class="doctor_list__container__col-2__card__other_details">
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fa fa-certificate"></i></span>10th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span>12th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fa fa-clock"></i></span>7 Years Of Experience</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fa fa-building"></i></span>Apollo Hospital</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location"><span><i class="fa fa-map-marker-alt"></i></span>Bangalore</li>
					</div>
					<button class="doctor_list__container__col-2__card__book">Book an appointment</button>
					<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
						<img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
					</div>
				</div>
				<div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-6">
					<div class="doctor_list__container__col-2__card__name">
						<h3>Sangeeta Vikram Dev</h3>
					</div>
					<div class="doctor_list__container__col-2__card__other_details">
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1"><span><i class="fa fa-certificate"></i></span>10th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2"><span><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png" alt=""></span>12th</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience"><span><i class="fa fa-clock"></i></span>15 Years Of Experience</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital"><span><i class="fa fa-building"></i></span>Fortis Hospital</li>
						<li class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location"><span><i class="fa fa-map-marker-alt"></i></span>Punjab</li>
					</div>
					<button class="doctor_list__container__col-2__card__book">Book an appointment</button>
					<div class="doctor_list__container__col-2__card__doctor_img_wrapper">
						<img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">	
					</div>
				</div>	 -->
			</div>
		</div>
	</div>

	<div class="help">
		<%- include('partials/help.ejs') %>
	</div>
	<footer class="footer">
		<%- include('partials/footer.ejs') %> 
	</footer>
	<div class="border">
	</div>
	<script>
		function goToAppointment(slot) {
			console.log(slot.dataset);
			window.location.href = `http://localhost:8000/appointment/${slot.dataset.doctorid}?slot=${slot.dataset.subslotid}&date=${slot.dataset.date}`;
		}
	</script>
	<script>
		let form_submit = (doc)=>{

	        let filter_finder =  doc.parentElement.querySelector(".text");

	        console.log(filter_finder);
	        
	        document.querySelector("._" + filter_finder.innerText.split(' ').join('-')).removeAttribute("checked",false);

	        document.querySelector("#filter_form").submit();
	        
	        }


		console.log('<%- filter %>')
		let filter = '<%- JSON.stringify(filter) %>';
		let sort_by = '<%- JSON.stringify(sort) %>';
		// console.log(filter);
		filter = JSON.parse(filter);
		sort_by = JSON.parse(sort_by);
		console.log(filter);
		if(filter){
			let key = Object.keys(filter)
            key.forEach(element=>{ 
                for(let i = 0;i<filter[element].length;i++) {
                    
                    document.querySelector("._" + filter[element][i].split(' ').join('-')).setAttribute("checked",true);

                }
            });
		}
		if(sort_by && sort_by != 'none'){
			document.querySelector(`option[value="${sort_by}"]`).setAttribute('selected', true);
		} else {
			document.querySelector('.not-specfied').setAttribute('selected', true);
		}
	</script>
	<script>

		const appointment = async (el, id) => {
			const currentDate = document.querySelector('.date-heading--active');
			console.log(currentDate.children[0].children[0].innerText);
			console.log(el.innerText);
			const hour = el.innerText.split(':')[0];
			
			// console.log(id);
			const min = el.innerText.split(':')[1].split(' ')[0];
			const mode = el.innerText.split(':')[1].split(' ')[1];
			const date = currentDate.children[0].children[0].innerText;
			const query = `/appointment/${id}?hour=${hour}&min=${min}&mode=${mode}&date=${date}`;
			window.location.href = query;
		}

		const carousels = document.querySelectorAll('.carousel');
		carousels.forEach(carousel => {
			const timeSlotCarousel = carousel.parentElement.querySelector(".time-slots-carousel");
			const slides = Array.from(carousel.querySelectorAll(".slide"));
			const timeSlotSlides = Array.from(timeSlotCarousel.querySelectorAll(".time-slot-slide"));
			const leftButton = carousel.querySelector(".left");
			const rightButton = carousel.querySelector(".right");
			let current = slides[0];
			let timeSlotCurrent = timeSlotSlides[0];

			const getOrder = elem => {
			  const styles = getComputedStyle(elem);
			  const orderValue = styles.order;
			  const order = parseInt(orderValue);
			  return order;
			}

			for(i = 1; i <= slides.length; i++){
				slides[i-1].style.order = i;
				timeSlotSlides[i-1].style.order = i;
			}

			const moveRight = _ => {
				for(let i = 0; i < slides.length; i++){
					order = getOrder(slides[i]);
					timeSlideOrder = getOrder(timeSlotSlides[i]);

					if (order < slides.length) {
				      slides[i].style.order = order += 1;
				      timeSlotSlides[i].style.order = order += 1;
				    } else {
				      slides[i].style.order = 1;
				      timeSlotSlides[i].style.order = 1;
				    }
						
				}
			  current.classList.remove('date-heading--active');
			  for(let i = 0; i < slides.length; i++){
			  	if(slides[i].style.order === '1'){
			  		current = slides[i];
			  	}
			  	if(timeSlotSlides[i].style.order === '1'){
			  		timeSlotCurrent = timeSlotSlides[i];
			  	}
			  }
			  current.classList.add('date-heading--active');
			}

			const moveLeft = _ => {
				for(let i = 0; i < slides.length; i++){
					order = getOrder(slides[i]);
					timeSlideOrder = getOrder(timeSlotSlides[i]);
					if (order > 1) {
				      slides[i].style.order = order -= 1;
				      timeSlotSlides[i].style.order = order -= 1;
				    } else {
				      slides[i].style.order = slides.length;
				      timeSlotSlides[i].style.order = timeSlotSlides.length;
				    }		
				}
			  current.classList.remove('date-heading--active');
			  for(let i = 0; i < slides.length; i++){
			  	if(slides[i].style.order === '1') current = slides[i];
			  	if(timeSlotSlides[i].style.order === '1') timeSlotCurrent = timeSlotSlides[i];
			  }
			  current.classList.add('date-heading--active');
			}


			rightButton.addEventListener('click', _ => {
			  moveRight();
			});

			leftButton.addEventListener('click', _ => {
			  moveLeft();
			});
		})

		const carousel = document.querySelector(".carousel");
		// const timeSlotCarousel = document.querySelector(".time-slots-carousel");
		// const slides = Array.from(carousel.querySelectorAll(".slide"));
		// const timeSlotSlides = Array.from(timeSlotCarousel.querySelectorAll(".time-slot-slide"));
		// const leftButton = document.querySelector(".left");
		// const rightButton = document.querySelector(".right");
		// let current = slides[0];
		// let timeSlotCurrent = timeSlotSlides[0];

		// const getOrder = elem => {
		//   const styles = getComputedStyle(elem);
		//   const orderValue = styles.order;
		//   const order = parseInt(orderValue);
		//   return order;
		// }

		// for(i = 1; i <= slides.length; i++){
		// 	slides[i-1].style.order = i;
		// 	timeSlotSlides[i-1].style.order = i;
		// }

		// const moveRight = _ => {
		// 	for(let i = 0; i < slides.length; i++){
		// 		order = getOrder(slides[i]);
		// 		timeSlideOrder = getOrder(timeSlotSlides[i]);

		// 		if (order < slides.length) {
		// 	      slides[i].style.order = order += 1;
		// 	      timeSlotSlides[i].style.order = order += 1;
		// 	    } else {
		// 	      slides[i].style.order = 1;
		// 	      timeSlotSlides[i].style.order = 1;
		// 	    }
					
		// 	}
		//   current.classList.remove('date-heading--active');
		//   for(let i = 0; i < slides.length; i++){
		//   	if(slides[i].style.order === '1'){
		//   		current = slides[i];
		//   	}
		//   	if(timeSlotSlides[i].style.order === '1'){
		//   		timeSlotCurrent = timeSlotSlides[i];
		//   	}
		//   }
		//   current.classList.add('date-heading--active');
		// }

		// const moveLeft = _ => {
		// 	for(let i = 0; i < slides.length; i++){
		// 		order = getOrder(slides[i]);
		// 		timeSlideOrder = getOrder(timeSlotSlides[i]);
		// 		if (order > 1) {
		// 	      slides[i].style.order = order -= 1;
		// 	      timeSlotSlides[i].style.order = order -= 1;
		// 	    } else {
		// 	      slides[i].style.order = slides.length;
		// 	      timeSlotSlides[i].style.order = timeSlotSlides.length;
		// 	    }		
		// 	}
		//   current.classList.remove('date-heading--active');
		//   for(let i = 0; i < slides.length; i++){
		//   	if(slides[i].style.order === '1') current = slides[i];
		//   	if(timeSlotSlides[i].style.order === '1') timeSlotCurrent = timeSlotSlides[i];
		//   }
		//   current.classList.add('date-heading--active');
		// }


		// rightButton.addEventListener('click', _ => {
		//   moveRight();
		// });

		// leftButton.addEventListener('click', _ => {
		//   moveLeft();
		// });
	</script>
	<!-- <script src="./../doctors.js"></script> -->
	<script>
		 let url = window.location.search;
		  console.log(url);
		  url = url.split('%20').join(' ');
		  const checkboxes = document.getElementsByClassName('checkbox_container');
		  // console.log(checkboxes);

		  console.log(url);
		  [...checkboxes].forEach(checkbox => {
		    if (url.indexOf(checkbox.firstChild.getAttribute('value')) > -1) {
		      checkbox.firstChild.checked = true;
		      document.getElementById("doctor_list__container__col-1__filter-by__tags").innerHTML +=
		        `<div class='filter_button'>
		        <p>${checkbox.firstChild.getAttribute('value')}</p>
		        <button 
		          name='${checkbox.firstChild.getAttribute('name')}'
		          value='${checkbox.firstChild.getAttribute('value')}' 
		          onclick='remove(this)'
		        >
		          <i class='fa fa-times'></i>
		        </button>
		      </div>`;
		    }
		  });


		function add(some) {
		    let newUrl = window.location.href;
		    console.log(some.checked);
		    if (some.checked) {
		      //add query
		      if (newUrl.indexOf('?') == -1) {
		        newUrl += `?${some.getAttribute('name')}=${some.getAttribute('value')}`;
		      }
		      else {
		        newUrl += `&${some.getAttribute('name')}=${some.getAttribute('value')}`
		      }
		    }
		    else {
		      //remove query
		      newUrl = newUrl.split('%20').join(' ');
		      const query = `${some.getAttribute('name')}=${some.getAttribute('value')}`;
		      const inx = newUrl.indexOf(query);
		      if (newUrl.indexOf(`${some.getAttribute('name')}=${some.getAttribute('value')}`) > -1) {
		        if (newUrl[inx - 1] === '&') {
		          newUrl = newUrl.replace('&' + query, '');
		        }
		        else {
		          newUrl = newUrl.replace(query, '');
		        }
		      }
		    }
		    window.location.href = newUrl; //this line will redirect to new location
		}
		function remove(ele) {
		    let newUrl = window.location.href;
		    newUrl = newUrl.split('%20').join(' ');
		    const query = `${ele.getAttribute('name')}=${ele.getAttribute('value')}`;
		    const inx = newUrl.indexOf(query);
		    if (newUrl.indexOf(`${ele.getAttribute('name')}=${ele.getAttribute('value')}`) > -1) {
		      if (newUrl[inx - 1] === '&') {
		        newUrl = newUrl.replace('&' + query, '');
		      }
		      else {
		        newUrl = newUrl.replace(query, '');
		      }
		      window.location.href = newUrl; //this line will redirect to new location
		    }
		}

		const bookBtn = document.querySelectorAll('.doctor_list__container__col-2__card__book');
		bookBtn.forEach(el => {
			el.addEventListener('click', () => {
				const timeSlots = el.parentElement.parentElement.children[2];
				if(timeSlots.style.display == 'flex'){
					timeSlots.style.display = 'none';
				} else {
					timeSlots.style.display = 'flex';
				}
			});
		});	
	</script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>